.super-mario {
  position: absolute;
  top: 200px;
  width: 900px;
}
.goomba {
  position: absolute;
  top: 1600px;
  width: 1000px;
}
.bowser {
  position: absolute;
  top: 360px;
  left: 2000px;
  width: 1000px;
}
.baloon {
  position: absolute;
  top: 300px;
  left: 1200px;
  width: 800px;
  z-index: 1;
}
p {
  position: absolute;
  top: 410px;
  left: 1280px;
  font-size: 60px;
  z-index: 2;
}
